@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 30px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;
    background-color: white;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

/* Header Header Header Header Heade Header Header Header Header Header Header Header Header */

header {
    margin: 2% 3% 1% 3%;
}

.navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    justify-content: space-around;
}

.navLinks>a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.socialLinks {
    width: 30%;
}

.socialLinks>a>img {
    width: 36px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 35%;
}

.logoLink {
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.logoLinkFooter {
    color: white;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
}

.logoLinkFooter:hover {
    text-decoration: none;
}

.number {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

.number:hover {
    color: blue;
    text-decoration: underline;
}



/* Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar */

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 6;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

/* The navigation menu links */
.sidenav a {
    padding: 20px 0px;
    font-size: 26px;
    color: black;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

/* When mouse over the navigation links, change their color */
.sidenav a:hover {
    color: blue;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 36px;
    margin-left: 60px;
}

.sideNavLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* On smaller screens, where height is less than 550px, change the style of the sidenav */
@media screen and (max-width: 750px) {
    .sidenav {
        padding-top: 55px;
    }

    .howToWork {
        flex-direction: column;
    }

}

/* Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body */

.main {
    padding: 5%;
    height: 600px;
    background-image: url(img/Sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.mainTextTitle {
    font-size: 50px;
    color: #00ffff;
    /* color: #ff9900; */
}

.mainTextTitleUp {
    font-size: 36px;
    color: white;
}

/* Info Info Info Info Info Info Info Info Info Info Info Info Info Info Info Info Info Info Info Info Info Info */

.containerInfo {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 50% 50% 50% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "infoOnePhoto infoOne"
        "infoTwoPhoto infoTwo";
}

.containerInfo>div {
    padding: 5%;
}

.infoOnePhoto {
    justify-self: center;
    align-self: center;
    grid-area: infoOnePhoto;
}

.infoTwoPhoto {
    justify-self: center;
    align-self: center;
    grid-area: infoTwoPhoto;
}

.infoOne {
    justify-self: start;
    align-self: center;
    grid-area: infoOne;
}

.infoTwo {
    justify-self: start;
    align-self: center;
    grid-area: infoTwo;
}

.infoIcon {
    width: 50px;
}

/* Drons Drons Drons Drons Drons Drons Drons Drons Drons Drons Drons Drons Drons Drons Drons */

.drons {
    padding: 0 5%;
}

.containerDrons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 50% 50%;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "mavic3"
        "mavicFly"
        "mavicClassic"
        "mavic3Т"
        "max4T"
    ;
}

.mavic3 {
    color: white;
    margin: 1%;
    padding: 5%;
    background-image: url(img/Drons/DJIMavic3Pro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "mavic3Name mavic3Name mavic3Link"
        ". . ."
        "mavic3Text mavic3Text mavic3Text";
    grid-area: mavic3;
}

.mavic3Link {
    justify-self: end;
    align-self: start;
    grid-area: mavic3Link;
}

.mavic3Text {
    font-size: 20px;
    align-self: end;
    grid-area: mavic3Text;
}

.mavic3Name {
    font-size: 24px;
    font-weight: 600;
    align-self: start;
    grid-area: mavic3Name;
}

.mavicFly {
    color: white;
    margin: 1%;
    padding: 5%;
    background-image: url(img/Drons/DJIMavicFly.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "mavicFlyName mavicFlyName mavicFlyLink"
        ". . ."
        "mavicFlyText mavicFlyText mavicFlyText";
    grid-area: mavicFly;
}

.mavicFlyName {
    font-size: 24px;
    font-weight: 600;
    align-self: start;
    grid-area: mavicFlyName;
}

.mavicFlyLink {
    justify-self: end;
    align-self: start;
    grid-area: mavicFlyLink;
}

.mavicFlyText {
    font-size: 20px;
    align-self: end;
    grid-area: mavicFlyText;
}

.mavic3Т {
    color: white;
    margin: 1%;
    padding: 5%;
    background-image: url(img/Drons/3T/3TMain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "mavic3TName mavic3TName mavic3TLink"
        ". . ."
        "mavic3TText mavic3TText mavic3TText";
    grid-area: mavic3Т;
}

.mavic3TName {
    font-size: 24px;
    font-weight: 600;
    align-self: start;
    grid-area: mavic3TName;
}

.mavic3TLink {
    justify-self: end;
    align-self: start;
    grid-area: mavic3TLink;
}

.mavic3TText {
    font-size: 20px;
    align-self: end;
    grid-area: mavic3TText;
}

.mavicClassic {
    color: white;
    margin: 1%;
    padding: 5%;
    background-image: url(img/Drons/DJIMavicClassic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "mavicClassicName mavicClassicName mavicClassicLink"
        ". . ."
        "mavicClassicText mavicClassicText mavicClassicText";
    grid-area: mavicClassic;
}

.mavicClassicName {
    font-size: 24px;
    font-weight: 600;
    align-self: start;
    grid-area: mavicClassicName;
}

.mavicClassicLink {
    justify-self: end;
    align-self: start;
    grid-area: mavicClassicLink;
}

.mavicClassicText {
    font-size: 20px;
    align-self: end;
    grid-area: mavicClassicText;
}

.max4T {
    color: white;
    margin: 1%;
    padding: 5%;
    background-image: url(img/Drons/DJIMatrice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "max4TName max4TName max4TLink"
        ". . ."
        "max4TText max4TText max4TText";
    grid-area: max4T;
}

.max4TName {
    font-size: 24px;
    font-weight: 600;
    align-self: start;
    grid-area: max4TName;
}

.max4TLink {
    justify-self: end;
    align-self: start;
    grid-area: max4TLink;
}

.max4TText {
    font-size: 20px;
    align-self: end;
    grid-area: max4TText;
}

/* Advantages Advantages  Advantages  Advantages Advantages Advantages Advantages Advantages Advantages Advantages Advantages Advantages */

.advantages {
    padding: 3% 10%;
}

.titleName {
    font-size: 32px;
}

.containeradvantages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 50% 50% 50% 50%;
    grid-auto-rows: 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "advantagesCardOne"
        "advantagesCardTwo"
        "advantagesCardThree"
        "advantagesCardFour"
        "advantagesCardFive"
        "advantagesCardSix";
}

.advantagesCardOne {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "cardPhotoOne cardTitleOne cardTitleOne"
        "cardPhotoOne cardTextOne cardTextOne"
        "cardPhotoOne cardTextOne cardTextOne";
    grid-area: advantagesCardOne;
}

.cardPhotoOne {
    grid-area: cardPhotoOne;
}

.cardTitleOne {
    justify-self: stretch;
    align-self: center;
    grid-area: cardTitleOne;
}

.cardTextOne {
    justify-self: stretch;
    align-self: stretch;
    grid-area: cardTextOne;
}

.advantagesCardTwo {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "cardPhotoTwo cardTitleTwo cardTitleTwo"
        "cardPhotoTwo cardTextTwo cardTextTwo"
        "cardPhotoTwo cardTextTwo cardTextTwo";
    grid-area: advantagesCardTwo;
}

.cardPhotoTwo {
    grid-area: cardPhotoTwo;
}

.cardTitleTwo {
    justify-self: stretch;
    align-self: center;
    grid-area: cardTitleTwo;
}

.cardTextTwo {
    justify-self: stretch;
    align-self: stretch;
    grid-area: cardTextTwo;
}

.advantagesCardThree {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1.2fr 0.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "cardPhotoThree cardTitleThree cardTitleThree"
        "cardPhotoThree cardTextThree cardTextThree"
        "cardPhotoThree cardTextThree cardTextThree";
    grid-area: advantagesCardThree;
}

.cardPhotoThree {
    grid-area: cardPhotoThree;
}

.cardTitleThree {
    align-self: center;
    grid-area: cardTitleThree;
}

.cardTextThree {
    justify-self: stretch;
    align-self: stretch;
    grid-area: cardTextThree;
}

.advantagesCardFour {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "cardPhotoFour cardTitleFour cardTitleFour"
        "cardPhotoFour cardTextFour cardTextFour"
        "cardPhotoFour cardTextFour cardTextFour";
    grid-area: advantagesCardFour;
}

.cardPhotoFour {
    grid-area: cardPhotoFour;
}

.cardTitleFour {
    justify-self: stretch;
    align-self: center;
    grid-area: cardTitleFour;
}

.cardTextFour {
    justify-self: stretch;
    align-self: stretch;
    grid-area: cardTextFour;
}

.advantagesCardFive {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1.1fr 0.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "cardPhotoFive cardTitleFive cardTitleFive"
        "cardPhotoFive cardTextFive cardTextFive"
        "cardPhotoFive cardTextFive cardTextFive";
    grid-area: advantagesCardFive;
}

.cardPhotoFive {
    grid-area: cardPhotoFive;
}

.cardTitleFive {
    justify-self: stretch;
    align-self: center;
    grid-area: cardTitleFive;
}

.cardTextFive {
    justify-self: stretch;
    align-self: stretch;
    grid-area: cardTextFive;
}

.advantagesCardSix {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "cardPhotoSix cardTitleSix cardTitleSix"
        "cardPhotoSix cardTextSix cardTextSix"
        "cardPhotoSix cardTextSix cardTextSix";
    grid-area: advantagesCardSix;
}

.cardPhotoSix {
    grid-area: cardPhotoSix;
}

.cardTitleSix {
    justify-self: stretch;
    align-self: stretch;
    grid-area: cardTitleSix;
}

.cardTextSix {
    justify-self: stretch;
    align-self: stretch;
    grid-area: cardTextSix;
}

.advantagesIcon>img {
    border-radius: 10px;
}

.advantagesTitle {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #FF9900;
}

/* statistics statisticsstatisticsstatisticsstatisticsstatisticsstatisticsstatistics */

.statistics {
    padding: 1% 5%;
    background-color: rgb(242, 242, 242);
}

.statisticsNumbers {
    color: #ff9900;
    font-size: 33px;
    margin-top: 15px;
}

.statisticsNumbersBig {
    color: #ff9900;
    font-size: 42px;
    margin-top: 15px;
    font-weight: 800;
}

.containerStatistics {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 50% 50% 50% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "firstStatistics"
        "secondStatistics"
        "thirdStatistics"
        "fourStatistics";
}

.containerStatistics>div {
    margin: 1% 0;
}

.firstStatistics {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    grid-area: firstStatistics;
    text-align: center;
    background-color: white;
    padding: 3% 10%;
    border: 1px solid rgb(242, 242, 242);
}

.secondStatistics {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    grid-area: secondStatistics;
    text-align: center;
    background-color: white;
    padding: 3% 10%;
    border: 1px solid rgb(242, 242, 242);
}

.thirdStatistics {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    grid-area: thirdStatistics;
    text-align: center;
    background-color: white;
    padding: 3% 10%;
    border: 1px solid rgb(242, 242, 242);
}

.fourStatistics {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    grid-area: fourStatistics;
    text-align: center;
    background-color: white;
    padding: 3% 10%;
    border: 1px solid rgb(242, 242, 242);
}

/* Contact form */

.contactForm {
    display: flex;
    flex-direction: column;
    background: rgba(128, 128, 128, 0.041);
}

.contactFormPhoto {
    background-image: url(img/Drons/DJIMavic3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}

.contactFormText {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input,
select {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    background: inherit;
}

select {
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: #99999923;
    margin-bottom: 25px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
        outline: none;
    }

    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
}

select.classic {
    background-image:
        linear-gradient(45deg, transparent 50%, black 50%),
        linear-gradient(135deg, black 50%, transparent 50%),
        linear-gradient(to right, greenyellow, greenyellow);
    background-position:
        calc(100% - 22px) calc(1em + 2px),
        calc(100% - 17px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}

select.classic:focus {
    background-image:
        linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        linear-gradient(to right, gray, gray);
    background-position:
        calc(100% - 17px) 1em,
        calc(100% - 22px) 1em,
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input:focus {
    outline: none;
}

label {
    color: black;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264ae;
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264ae;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264ae;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264ae;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264ae;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.custom-btn {
    border: 3px solid greenyellow;
    width: 130px;
    height: 40px;
    color: black;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-send:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


/* Footer */

footer {
    background-color: black;
    padding: 0 10%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.socialLinksFooter {
    width: 100%;
}

.socialLinksFooter>a>img {
    width: 36px;

}

.rights {
    font-size: 14px;
    color: #a1a1a1;
    font-weight: 300;
}

.workIn,
.footerInfo,
.footerInfoLink {
    font-size: 14px;
    line-height: 24px;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

/*  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 760px) {

    .main {
        background-attachment: fixed;
    }

    .hideB {
        display: none;
    }

    .menuButton {
        display: none;
    }

    .infoBoxHeader {
        text-align: right;
        width: 30%;
    }

    .logoLink {
        font-size: 44px;
    }

    .droneInfo {
        margin: 25px;
    }

    .containerStatistics {
        display: grid;
        grid-auto-columns: 50% 50% 50% 50%;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "firstStatistics secondStatistics thirdStatistics"
            "fourStatistics fourStatistics fourStatistics";
        justify-content: stretch;
        justify-items: stretch;
        align-items: stretch;
    }

    .someInfo {
        padding: 3% 10%;
    }

    .mainTextTitle {
        font-size: 180px;
        margin: 0;
    }

    .mainTextTitleUp {
        font-size: 46px;
    }

    .containerInfo {
        display: grid;
        grid-auto-columns: 50% 50% 50% 50%;
        grid-auto-rows: 1fr;
        grid-template-columns: 0.4fr 1.1fr 0.4fr 1.1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: "infoOnePhoto infoOne infoTwoPhoto infoTwo";
        justify-content: stretch;
        justify-items: stretch;
        align-items: stretch;
    }

    .infoOnePhoto {
        justify-self: end;
    }

    .infoTwoPhoto {
        justify-self: end;
    }

    .infoIcon {
        width: 100px;
    }

    .infoText {
        font-size: 22px;
    }

    .containerDrons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: 50% 50% 50% 50%;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: stretch;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
            "mavic3 mavicFly"
            "mavicClassic mavic3Т"
            "max4T max4T"
        ;
    }

    .containeradvantages {
        display: grid;
        grid-auto-columns: 50% 50% 50% 50%;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px 15px;
        grid-template-areas:
            "advantagesCardOne advantagesCardTwo advantagesCardThree"
            "advantagesCardFour advantagesCardFive advantagesCardSix";
        justify-content: stretch;
        justify-items: stretch;
        align-items: stretch;
    }

    /* contactForm */

    .contactForm {
        flex-direction: row;
    }

    .contactFormPhoto {
        width: 45vw;
        height: 70vh;
    }

    .contactFormText {
        padding: 2%;
    }

    /* Footer */

    footer {
        flex-direction: row;
        padding: 2% 5%;
    }

    .footerBox {
        width: 25%;
    }

    .workIn {
        text-align: center;
    }

    .footerInfo {
        text-align: center;
    }

    .workIn,
    .footerInfo,
    .footerInfoLink {
        font-size: 16px;
    }
}

@media screen and (max-width: 760px) {
    .hide {
        display: none;
    }
}

@media screen and (min-width: 1050px) {
    .logoLink {
        font-size: 64px;
    }
}